$breakpoint: (
    sp: 'screen and (max-width: 767px)',
    tab: 'screen and (min-width: 768px)',
    pc: 'screen and (min-width: 1025px)'
);

@mixin mq($bp) {
    @media #{map-get($breakpoint, $bp)} {
        @content;
    }
}

// @mixin accentFont($weight: "bold") {
//     font-family: "Oswald", sans-serif;
//     font-weight: $weight;
// }

// @mixin iconBtn {
//     width: 40px;
//     height: 40px;
//     border: 1px solid v.$brand-color;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transform: rotate(180deg);
//     transition-duration: 0.3s;
// }

// @mixin iconBtnHover {
//     background: v.$brand-color;
//     color: v.$secondaly-color;
//     transition-duration: 0.3s;
// }