
$brand-color: #0F8390;
$primary-color: #807146;
$secondaly-color: #FFFFFF;
$tertiary-color: #DCE8E9;
$quaternary-color: #CBDCDD;
$quinary-color: #D4E4DA;
$senary-color: #F1F6F6;


$font-color: #2E362F;

$border-color: #BDCCCE;

$font-stack: 'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;

$font-size: 12px;

$max-width: 1200px;
$side-width: 300px;
$wrap-width: 1200px;

$border-radius: 20px;
$side-border-radius: 10px;